{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success alert-dismissible">
            {{ message }}
        </div>
    {% endfor %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Courses</li>
        </ol>
    </nav>

    <h2>List of all courses</h2>
    {% if app.user %}
        <a type="button" class="btn btn-primary" href="{{ path('course.createCourse') }}">Create new Course</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td><h4>ID</h4></td>
                <td><h4>Title</h4></td>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><h4>Delete</h4></td>
                    {% endif %}
                    {% if is_granted('ROLE_MOD') or is_granted('ROLE_ADMIN') %}
                        <td><h4>Approve</h4></td>
                    {% endif %}
                    <td><h4>Enroll</h4></td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                {% if course.published or is_granted('ROLE_MOD') or is_granted('ROLE_ADMIN') or course.author == app.user %}
                    <tr>
                    <td>
                        <span>{{ course.id }}</span>
                        <td>
                            <h5 style="margin: 5px;"><a class="text-decoration-none" href="{{ path('course.show',{id: course.id} )}}"> {{ course.title }}</a></h5>
                            {% if not course.published %}
                                <span class="badge rounded-pill bg-warning">Waiting for approval</span>
                            {% endif %}</td>
                        </td>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <td><a type="button" class="btn btn-outline-danger" style="padding:0.40rem 0.8rem;" href="{{ path('course.delete',{id: course.id} )}}">Delete</a></td>
                            {% endif %}
                            {% if is_granted('ROLE_MOD') or is_granted('ROLE_ADMIN')%}
                                {% if not course.published %}
                                    <td><a type="button" class="btn btn-outline-success" style="padding:0.40rem 0.8rem;"href="{{ path('course.publish',{id: course.id} )}}">Approve</a></td>
                                {% else %}
                                    <td><span class="text-muted text-decoration-none">Approved</span></td>
                                {% endif %}
                            {% endif %}
                            {% if app.user == course.author %}
                                <td><span class="text-muted text-decoration-none">You are the teacher!</span></td>
                            {% elseif app.user in course.students%}
                                <td><span class="text-muted text-decoration-none">Enrolled!</span></td>
                            {% else %}
                                <td><a type="button" class="btn btn-outline-success" style="padding:0.40rem 0.8rem;" href="{{ path('course.subscribe',{id: course.id} )}}"><i class="bi bi-person-plus-fill"></i></a></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
