{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success alert-dismissible">
            {{ message }}
        </div>
    {% endfor %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>

    <h2>Users</h2>

    <table class="table table-striped" style="width: 70%">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Points</th>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <h5 style="margin: 5px;"><a class="text-decoration-none" href="{{ path('users.show',{id: user.id} )}}"> {{ user.username }}</a></h5>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.score }}</td>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <td><a type="button" class="btn btn-outline-danger" style="padding:0.40rem 0.8rem;" href="{{ path('users.delete',{id: user.id} )}}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
