{% extends 'base.html.twig' %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
        </ol>
    </nav>
    <h1 class="text-secondary">{{ user.username }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Sex</td>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Points</td>
                <td>{{ user.score }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Enrolled courses</h4>
    <table class="table">
        <tbody>
        {% for course in user.classes %}
            <tr><td><a class="text-decoration-none" href="{{ path('course.show',{id: course.id} )}}">{{ course.id }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Teaches courses</h4>
    <table class="table">
        <tbody>
        {% for course in user.courses %}
            <tr><td><a class="text-decoration-none" href="{{ path('course.show',{id: course.id} )}}">{{ course.id }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}