<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Fituska2.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('course.courses') }}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('users') }}">Users</a>
                </li>
            </ul>
            {% if app.user %}
                <a class="nav-link d-flex" href="{{ path('users.show',{id: app.user.id} )}}">{{ app.user.username }}</a>
                <a class="nav-link d-flex text-danger" href="{{ path('app_logout') }}">Log out</a>
            {% endif %}
            {% if not app.user %}
                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                <a class="nav-link" href="{{ path('app_login') }}">Login </a>
            {% endif %}
        </div>
    </div>
</nav>